@media (min-width: 1440px) and (max-width: 1919px) {
  .container {
    padding: 0 2%;
  }

  .slider__list {
    justify-content: space-around;
  }

  .pay-and-feed {
    background-size: auto;
    background-position: center;
  }

  .tree-container {
    top: 25%;
    left: 0%;
  }

  .bamboo-container {
    top: 35%;
    right: 0%;
  }

  .pay-and-feed__top {
    margin-bottom: 5%;
  }

  .pay-and-feed__stages::before {
    background-size: 85% 100%;
  }

  .pay-and-feed__stages::after {
    left: 830px;
    background-size: 85% 100%;
  }

  .animals-list {
    margin-right: 1%;
  }
}

@media (min-width: 1201px) and (max-width: 1439px) {
  .container {
    padding: 0 5px;
  }

  .presentation__photo {
    width: 100%;
  }

  .hero-presentation__right .presentation__photo-link::after {
    top: 40%;
    right: 45%;
  }

  .scene {
    margin-bottom: 100px;
  }

  .scene .vector-top {
    background-size: auto;
    background-position: center;
  }

  .scene .vector-midle {
    background-size: auto;
    background-position: center;
  }

  .scene .vector-bottom {
    background-size: auto;
    background-position: center;
  }

  .scene__inner .bamboo {
    top: 5%;
  }

  .scene__inner .tree {
    top: 20%;
  }

  .slider__list {
    justify-content: space-around;
  }

  .slider__controls {
    margin-right: 2%;
  }

  .pay-and-feed {
    background-size: auto;
    background-position: center;
  }

  .tree-container {
    top: 25%;
    left: 0%;
  }

  .bamboo-container {
    top: 33%;
    right: 0%;
  }

  .pay-and-feed__stages::before {
    background-size: 80% 100%;
    left: 25%;
  }

  .pay-and-feed__stages::after {
    left: 59%;
    background-size: 83% 100%;
  }

  .animals__wrapper {
    justify-content: space-around;
  }

  .animals-list {
    margin-right: 25%;
  }

  .animals-list__item + .animals-list__item {
    margin-left: 12%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .navigation__item + .navigation__item {
    margin-left: 42px;
  }

  .header__logIn {
    display: none;
  }

  .header__signUp {
    display: none;
  }

  .header__search {
    margin-right: 31px;
  }

  .header__logIn-1200 {
    display: inline;
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #b9d5d9;
    padding-left: 16px;
    padding-top: 16px;
  }

  .header__logIn-1200::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
  }

  .header__logIn-1200:hover {
    box-shadow: 0px 2px 50px rgb(13 68 77);
  }

  .hero-presentation {
    height: 655px;
    background-size: cover;
    background-position: left;
  }

  .presentation__photo {
    width: 560px;
    height: 464px;
  }

  .hero-presentation__right .presentation__photo-link::after {
    top: 205px;
    right: 38%;
  }

  .hero-presentation__title {
    font-size: 64px;
    line-height: 76px;
    margin-bottom: 30px;
  }

  .hero-presentation__text {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 37px;
  }

  .how-it-works {
    margin-bottom: 0;
  }

  .how-it-works__title {
    top: -60px;
  }

  .how-it-works__list {
    margin-top: 30px;
  }

  .how-it-works__item {
    width: 365px;
    height: 188px;
  }

  .scene {
    margin-bottom: 95px;
  }

  .scene .vector-top {
    background-position: left;
    background-size: auto;
  }

  .scene .vector-midle {
    background-position: left;
    background-size: auto;
  }

  .scene .vector-bottom {
    background-position: left;
    background-size: auto;
  }

  .scene__inner .tree.third {
    display: none;
  }

  .scene__inner .bamboo {
    top: 70px;
    left: -30px;
  }

  .scene__inner .tree {
    top: 70px;
    left: 21%;
  }

  .scene__inner .tree.second {
    top: 131px;
    left: 51%;
  }

  .scene__inner .panda {
    top: 52%;
    left: 77%;
  }

  .scene__inner .bamboo.second {
    top: 40%;
    left: 85%;
  }

  .pets-in-zoo {
    margin-bottom: 75px;
  }

  .pets-in-zoo__top {
    margin-bottom: 56px;
  }

  .pets-in-zoo__link {
    width: 303px;
    font-size: 16px;
    line-height: 40px;
  }

  .pets-in-zoo__link::before {
    top: 8px;
  }

  .slider::after {
    bottom: 30px;
  }

  .slider__list {
    padding-left: 0;
    justify-content: start;
  }

  .slider__card {
    width: 336px;
    height: 285px;
    margin-right: 29px;
    margin-bottom: 31px;
  }

  .slider__card-img {
    width: 162px;
    height: 157px;
  }

  .slider__card-bottom {
    padding-top: 16px;
    padding-left: 19px;
  }

  .slider__card-bottom::after {
    right: 9px;
  }

  .slider__card-title {
    font-size: 17px;
    line-height: 20px;
  }

  .slider__card-text {
    font-size: 13px;
    line-height: 16px;
  }

  .pay-and-feed {
    height: 565px;
    background-position: bottom;
    background-size: auto;
    margin-bottom: 50px;
  }

  .bamboo-container {
    display: none;
  }

  .tree-container {
    top: 260px;
    left: -60px;
  }

  .pay-and-feed__top {
    padding-right: 72px;
    margin-bottom: 72px;
  }

  .pay-and-feed__link {
    display: none;
  }

  .pay-and-feed__link:hover {
    display: none;
  }

  .pay-and-feed__link-1200 {
    display: inline;
    width: 174px;
    background: #c5e1e6;
    border-radius: 100px;
    box-shadow: 0px 2px 20px rgba(185, 213, 217, 0.6);
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0d444d;
  }

  .pay-and-feed__link-1200:hover {
    box-shadow: 0px 2px 50px rgba(13, 68, 77, 1);
  }

  .pay-and-feed__stage {
    width: 367px;
  }

  .pay-and-feed__stage + .pay-and-feed__stage {
    margin-left: 20px;
  }

  .pay-and-feed__stage .img__container {
    margin-bottom: 14px;
  }

  .pay-and-feed__stages::before {
    background-image: url("../img/arrow-for-1200.svg");
    width: 204px;
    height: 52px;
    left: 290px;
  }

  .pay-and-feed__stages::after {
    background-image: url("../img/arrow-for-1200.svg");
    width: 204px;
    height: 52px;
    left: 675px;
  }

  .testimonials {
    margin-bottom: 50px;
  }

  .testimonials__top {
    margin-bottom: 42px;
  }

  .testimonials__link {
    width: 236px;
    font-size: 16px;
    line-height: 40px;
  }

  .testimonials__link::before {
    top: 9px;
  }

  .feedback__item + .feedback__item {
    margin-left: 18px;
  }

  .look-at-animals {
    margin-bottom: 50px;
  }

  .look-at-animals__title {
    margin-bottom: 32px;
  }

  .animals-list__item + .animals-list__item {
    margin-left: 80px;
  }

  .animals-list__item.hidden {
    display: none;
  }

  .footer .container {
    padding-top: 17px;
    padding-bottom: 20px;
  }

  .footer__info {
    padding-top: 0;
  }
}

@media (max-width: 1125px) {
  .container {
    padding: 0 5px;
  }

  .hero-presentation__title {
    font-size: 50px;
    line-height: 50px;
  }

  .hero-presentation__text {
    width: auto;
    font-size: 20px;
    line-height: 25px;
  }

  .hero-presentation__right {
    min-width: 255px;
    margin-top: 0;
  }

  .presentation__photo {
    width: 100%;
  }

  .slider__list {
    justify-content: center;
  }

  .pay-and-feed__stages::before {
    left: 270px;
    width: 190px;
    background-size: cover;
  }

  .pay-and-feed__stages::after {
    left: 650px;
    width: 190px;
    background-size: cover;
  }

  .animals-list {
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
  }

  .animals-list__item + .animals-list__item {
    margin-left: 0;
  }

  .footer__left {
    width: 100%;
    justify-content: start;
  }
}

@media (max-width: 1100px) {
  .pay-and-feed {
    background-image: url("../img/Pay-and-feed-1200.svg");
    background-position: right;
    padding-top: 160px;
  }

  .pay-and-feed__stage {
    max-width: 367px;
    text-align: center;
  }

  .pay-and-feed__stages::before {
    background-image: url("../img/arrow-short.svg");
    width: 65px;
    height: 65px;
    top: 45px;
    left: 30%;
  }

  .pay-and-feed__stages::after {
    background-image: url("../img/arrow-short.svg");
    width: 65px;
    height: 65px;
    top: 45px;
    left: 64%;
  }
}

@media (max-width: 760px) {
  .hero-presentation__left {
    padding-top: 20px;
  }

  .hero-presentation__right .presentation__photo-link::after {
    right: 38%;
  }

  .link__logo {
    margin-right: 20px;
  }

  .navigation__item + .navigation__item {
    margin-left: 20px;
  }

  .footer__info {
    text-align: center;
  }
}

@media (min-width: 641px) and (max-width: 759px) {
  .container {
    padding: 0 5px;
  }

  .header__content-left {
    width: 100%;
  }

  .header__content-left .link__logo {
    margin-right: 5%;
  }

  .navigation {
    width: 100%;
  }

  .navigation__list {
    justify-content: flex-start;
  }

  .navigation__item + .navigation__item {
    margin-left: 5%;
  }

  .navigation__item {
    font-size: 16px;
  }

  .hero-presentation {
    height: 600px;
  }

  .hero-presentation__title {
    font-size: 40px;
    line-height: 40px;
  }

  .hero-presentation__text {
    width: auto;
    font-size: 14px;
    line-height: 20px;
  }

  .hero-presentation__right {
    min-width: 255px;
    margin-top: 0;
  }

  .presentation__photo {
    width: 100%;
  }

  .scene__inner .bamboo.second {
    left: 81%;
  }

  .scene__inner .panda {
    left: 73%;
  }

  .animals-list__item {
    width: 99px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 10px;
  }

  .header {
    height: 80px;
  }

  .header__inner {
    height: 73px;
  }

  .header__content-left .link__logo img {
    display: none;
  }

  .header__content-left .link__logo {
    width: 55px;
    height: 45px;
    background-image: url("../img/Logo-small.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navigation__list {
    display: none;
  }

  .header__content-right {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 21px;
    right: 28px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #c5e1e6;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 640px;
    height: 446px;
    margin: 0;
    padding: 0;
    padding-top: 78px;
    list-style: none;
    text-align: center;
    background-color: #2a8086;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  .menu__box .logo-img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 52px;
    height: 24px;
  }

  .menu__box .logo-img img {
    width: 100%;
  }

  .menu__item-line {
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .menu__item {
    display: inline-block;
    margin-top: 32px;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #f3f7f8;
    text-decoration: none;
  }

  .menu__item:hover {
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  /* #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  } */

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }

  .menu__box {
    transition-duration: 0.25s;
  }

  .menu__item {
    transition-duration: 0.25s;
  }

  .hero-presentation {
    height: 410px;
    background-image: url("../img/hero-background-for-640px.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    padding-top: 33px;
  }

  .hero-presentation__left {
    padding-top: 0;
  }

  .presentation__photo {
    height: auto;
  }

  .hero-presentation__title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 20px;
  }

  .hero-presentation__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .hero-presentation__link {
    width: 170px;
    line-height: 37px;
    font-size: 14px;
    margin-right: 16px;
  }

  .hero-presentation__link-640 {
    display: inline-block;
    text-align: center;
    width: 174px;
    background: #c5e1e6;
    border-radius: 100px;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 37px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0d444d;
    box-shadow: 0px 2px 20px rgba(185, 213, 217, 0.6);
  }

  .hero-presentation__link-640:hover {
    box-shadow: 0px 2px 50px rgba(13, 68, 77, 1);
  }

  .presentation__photo-link {
    max-width: 255px;
  }

  .presentation__photo {
    width: 100%;
  }

  .hero-presentation__right .presentation__photo-link::after {
    width: 84px;
    height: 84px;
    background-image: url("../img/hero-play-640.png");
    background-repeat: no-repeat;
    top: 23%;
    right: 35%;
  }

  .how-it-works__title {
    font-size: 18px;
    line-height: 21px;
  }

  .how-it-works__item {
    width: 188px;
    height: 192px;
  }

  .scene {
    background-image: url("../img/scene/scene-Illustration-640.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .scene__inner {
    height: 291px;
  }

  .scene .vector-top {
    display: none;
  }

  .scene .vector-midle {
    display: none;
  }

  .scene .vector-bottom {
    display: none;
  }

  .scene__inner .bamboo {
    display: none;
  }

  .scene__inner .tree {
    top: 30px;
    left: 3%;
    background-image: url("../img/scene/tree1-640.svg");
    width: 72px;
    height: 127px;
  }

  .scene__inner .tree.second {
    top: 68px;
    left: 35%;
    background-image: url("../img/scene/tree2-640.svg");
    width: 49px;
    height: 87px;
  }

  .scene__inner .panda {
    top: 49%;
    left: 61%;
    background-image: url("../img/scene/Panda-640.svg");
    width: 90px;
    height: 86px;
  }

  .scene__inner .bamboo.second {
    display: inline;
    top: 27%;
    left: 68%;
    background-image: url("../img/scene/Bamboo-640.svg");
    width: 81px;
    height: 155px;
  }

  .pets-in-zoo {
    margin-bottom: 50px;
  }

  .pets-in-zoo__top {
    margin-bottom: 28px;
  }

  .pets-in-zoo__title {
    font-size: 18px;
    line-height: 21px;
  }

  .pets-in-zoo__link {
    width: 269px;
    font-size: 14px;
    line-height: 37px;
    padding-left: 35px;
    padding-right: 0;
  }

  .pets-in-zoo__link::before {
    top: 9px;
    left: 18px;
    width: 20px;
    height: 20px;
    background-size: cover;
  }

  .hidden-640 {
    display: none;
  }

  .slider__card {
    width: 256px;
    height: 298px;
  }

  .slider__card-bottom::after {
    right: 20px;
    top: -195px;
  }

  .slider__card.right-card {
    margin-right: 0;
  }

  .slider__controls {
    margin-right: 16px;
  }

  .pay-and-feed {
    height: 361px;
    background-image: url("../img/pay-and-feed-640.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    padding-top: 70px;
  }

  .tree-container {
    display: none;
  }

  .pay-and-feed__top {
    margin-bottom: 40px;
    padding-right: 20px;
    justify-content: space-around;
  }

  .pay-and-feed__stage {
    max-width: 186px;
  }

  .pay-and-feed__stages::before {
    top: 27px;
    left: 27%;
  }

  .pay-and-feed__stage .img__container {
    width: 113px;
    height: 113px;
    padding-top: 37px;
  }

  .pay-and-feed__stages::after {
    top: 27px;
    left: 62%;
  }

  .pay-and-feed__stage .img__container img {
    width: 40px;
    height: 40px;
  }

  .testimonials__top {
    margin-bottom: 27px;
  }

  .testimonials__title {
    font-size: 18px;
    line-height: 21px;
  }

  .testimonials__link {
    width: 210px;
    font-size: 14px;
    line-height: 37px;
    padding-left: 30px;
  }

  .testimonials__link::before {
    top: 8px;
    left: 18px;
  }

  .look-at-animals {
    margin-bottom: 26px;
  }

  .animals-list {
    justify-content: start;
  }

  .animals-list__item + .animals-list__item {
    margin-left: 42px;
  }

  .btn-controls {
    margin-right: 10px;
  }

  .footer .container {
    padding-top: 27px;
    padding-bottom: 23px;
  }

  .footer__left .link__logo img {
    display: none;
  }

  .footer__left .link__logo {
    width: 55px;
    height: 45px;
    background-image: url("../img/Logo-small.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer__info {
    width: 100%;
  }

  .footer__info-design {
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    margin-bottom: 5px;
  }

  .footer__info-copyright {
    font-size: 10px;
    line-height: 12px;
    text-align: right;
  }
}
