.header.header__zoo {
  height: 110px;
}

.main__wrapper {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
}

.side__menu {
  position: sticky;
  top: 30px;
  height: 644px;
  width: 105px;
  margin-right: 50px;
}

.side__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side__menu-item + .side__menu-item {
  margin-top: 30px;
}

.side__menu-item {
  position: relative;
  width: 105px;
  height: 131px;
  text-align: center;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #2d2d2d;
}

.side__menu-item .img-border {
  background-image: url("../img/map-border.svg");
  background-repeat: no-repeat;
  width: 105px;
  height: 102px;
  z-index: 1;
  transition: linear 1s;
}

.side__menu-item.active .img-border {
  background-image: url("../img/img-border-active.svg");
  background-size: cover;
}

.side__menu-item:hover .img-border {
  transform: rotate(360deg);
}

.side__menu-item:hover .tooltip {
  visibility: visible;
}

.side__menu-item img {
  margin-bottom: 9px;
  width: 72px;
  height: 70px;
  position: absolute;
  top: 15px;
  left: 17px;
  z-index: 2;
}

.main__inner {
  height: 1620px;
  width: 100%;
}

.main__inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.main__inner-title {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0d444d;
}

.main__inner-icons {
  display: flex;
}

.main__inner-icons .icon {
  width: 42px;
  height: 42px;
  border: 1.5px solid #19707d;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}

.main__inner-icons .icon:hover {
  background-color: #c5e1e6;
  border: 1.5px solid #ffffff;
}

.icon.icon-i {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: lowercase;
  color: #19707d;
}

.icon.icon-heart {
  position: relative;
  margin-left: 35px;
}

.icon.icon-heart::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  background-image: url("../img/small-heart.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.main-cameras__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #0d444d;
}

.main-video__wrapper {
  margin-bottom: 55px;
  max-width: 1234px;
}

.side-cameras {
  margin-bottom: 60px;
}

.side-cameras__wrapper {
  display: flex;
  align-items: center;
}

.side-cameras__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #0d444d;
}

.side-cameras__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: start;
}

.side-cameras__item + .side-cameras__item {
  margin-left: 32px;
}

.side-cameras__item.plug {
  position: relative;
  width: 380px;
}

.side-cameras__item.plug::before {
  content: "";
  position: absolute;
  width: 380px;
  height: 240px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.side-cameras__item.plug::after {
  content: "live";
  position: absolute;
  top: 25px;
  left: 27px;
  width: 65px;
  height: 30px;
  padding-top: 8px;
  background: rgba(46, 46, 46, 0.8);
  border-radius: 9px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.side-cameras__controls {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.information-block {
  display: flex;
  justify-content: space-between;
}

.informaton {
  max-width: 605px;
}

.informaton__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0d444d;
}

.informaton__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.informaton__item + .informaton__item {
  margin-top: 30px;
}

.informaton__item-title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #0d444d;
}

.informaton__item a {
  text-decoration: underline;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #0d444d;
}

.informaton__item span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #0d444d;
}

.facts {
  max-width: 604px;
}

.facts__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0d444d;
}

.facts__list {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  list-style-image: url("../img/list-style-img.svg");
}

.facts__item + .facts__item {
  margin-top: 29px;
}

.facts__text {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #0d444d;
}

.zoo-scene.error__scene .scene__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 384px;
}

.zoo-donate.pay-and-feed__link {
  margin-top: 16%;
  border: transparent;
}
